<!DOCTYPE html>
<head>
    
  <meta charset="UTF-8" />
    
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
  <link rel="stylesheet" href="contact.component.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
    
  <title>Document</title>
</head>
<body>
  <nav class="navbar">
        <!-- LOGO -->
             <!-- NAVIGATION MENU -->
    <div class="logo">Clinique SilkBeauty</div>
        
    <ul class="nav-links">
                   
      <div class="menu">
                

        <li><a href="/">Home</a></li>
                
        <li><a href="/">About</a></li>

                
        <li class="services">
                    <a href="/">Services</a>

                    <!-- DROPDOWN MENU -->
                    
          <ul class="dropdown">
                        
            <li><a href="/">Hairstyling </a></li>
                        
            <li><a href="/">Makeup</a></li>
                        
            <li><a href="/">Laser Hair Removal</a></li>
                        
            <li><a href="/">Nails</a></li>
                        
            <li><a href="/">Facial Treatments</a></li>
                      
          </ul>

                  
        </li>

                
        <li><a href="/">Pricing</a></li>
                
        <li><a href="//localhost:4200/contact">Contact</a></li>
              
      </div>
          
    </ul>

     
  </nav>
  <main>
    <br /><br /><br />
    <div class="contact">
      <ul>
        <li>E-mail:clinique.silkbeauty@gmail.com</li>
        <li>Numar telefon: 0754345789</li>
        <li>Fax: 078838884</li>
        <li>Adresa : Bulevardul 21 Decembrie, nr.10</li>
        <a href="https://www.google.com/maps/@46.7762768,23.6024466,15.54z"
          ><img src="assets/images/maps.png" alt="maps"
        /></a>
      </ul>
    </div>
  </main>

  <footer>
    <div class="text">
      <br />
      <p>CLINIQUE SILKBEAUTY</p>
    </div>
    <div class="icon">
      <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
      <a href="https://www.twitter.com/" class="fa fa-twitter"></a>
      <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
    </div>
  </footer>
</body>
